---
import Text from "@/components/Text.astro";
import TextLink from "@/components/TextLink.astro";
import Block from "@/layouts/Block.astro";
import Layout from "@/layouts/Layout.astro";
import Section from "@/layouts/Section.astro";
---

<Layout title="about | Toru Yaginuma✌🏻" current="about">
  <Section heading="about">
    <div>
      <TextLink href="https://github.com/t-yaginuma">github</TextLink>
      <TextLink href="https://www.linkedin.com/in/toru-yaginuma-8124a8277/">
        linkedin
      </TextLink>
    </div>

    <Block heading="初めまして" layout="stack">
      <Block
        heading="フロントエンドエンジニアの柳沼亨と申します。🙋‍♂️"
        isSubBlock
      >
        <Text size="md">
          Worksには公開案件のみを掲載しております。
          業務アプリの非公開の実績に関してはおと岩瀬いただければ幸いです。
        </Text>
      </Block>
      <Block heading="デザインシステムを考えることが好き🤞🏻" isSubBlock>
        <Text size="md">
          Worksには公開案件のみを掲載しております。
          業務アプリの非公開の実績に関してはおと岩瀬いただければ幸いです。
        </Text>
      </Block>
      <Block heading="気持ちの良いインタラクションが好き😄" isSubBlock>
        <Text size="md">
          遊び心と人間味のあるアプリケーション、Webサイトが好みです。細かく配慮がされたウェブアプリケーションが好きです。
        </Text>
      </Block>
    </Block>

    <Block heading="経験">経験を書く</Block>

    <Block heading="こんな人です。">経験を書く</Block>
  </Section>
</Layout>
