@use "sass:math";
@import "./variables";

html {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: 400;
  background-color: $bgColor;
  color: $fontColor;
  line-height: $lineHeightSm;
  font-feature-settings: "palt";
  min-width: 350px;

  ::selection {
    background-color: #000;
    color: #fff;
  }
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ol,
ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit; /* no underline */
}

.f-roboto {
  font-family: "Roboto Mono", monospace;
}
