$keyColor: #0000ff;
$fontColor: #1e2115;
$bgColor: #f9f8f8;
$gap: 1rem;

$lineHeightSm: 1.3;
$lineHeight: 1.5;
$lineHeightLg: 1.8;

$breakpoint: 1024px;

// ブレイクポイントの定義
$mediaQueryBreakpoint: (
  sp: "screen and (max-width: 768px)",
  pc: "screen and (min-width: 769px)",
);

/*
 * メディアクエリを返す
*/
@mixin mq($breakpoint) {
  @media #{map-get($mediaQueryBreakpoint, $breakpoint)} {
    @content;
  }
}
