---
import Navigation from "@/components/Navigation.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Portfolio site | Toru Yaginuma âœŒðŸ»">
  <Navigation current="contact" />
  <div>ã‚³ãƒ³ã‚¿ã‚¯ãƒˆ</div>
</Layout>
