---
import Text from "@/components/Text.astro";
import TextLink from "@/components/TextLink.astro";
import Block from "@/layouts/Block.astro";
import Layout from "@/layouts/Layout.astro";
import Section from "@/layouts/Section.astro";
---

<Layout title="contact| Toru YaginumaâœŒðŸ»" current="contact">
  <Section heading="contact">
    <Block
      heading="ã”ä¾é ¼ãƒ»ã”ç›¸è«‡ã¯ä¸‹è¨˜ã‚¢ãƒ‰ãƒ¬ã‚¹ã‚ˆã‚ŠãŠé¡˜ã„ã—ã¾ã™ã€‚ðŸ˜„"
      layout="stack"
    >
      <Text size="md">
        <TextLink href="mailto:toru45s@gmail.com">toru45s@gmail.com</TextLink>
      </Text>
    </Block>
  </Section>
</Layout>
