---
import Profile from "@components/Profile.astro";
import Splash from "@components/Splash.astro";
import Text from "@components/Text.astro";
import Works from "@components/Works.astro";
import Layout from "@layouts/Layout.astro";
import Section from "@layouts/Section.astro";
---

<Layout title="Portfolio site | Toru Yaginuma âœŒðŸ»">
  <Fragment slot="side">
    <Profile />
    <Section gap="xl">
      <Text text="åˆã‚ã¾ã—ã¦ï¼ æŸ³æ²¼äº¨ã¨ç”³ã—ã¾ã™ã€‚" />
      <Text
        text="ç¾åœ¨ã¯æ¥­å‹™ã‚¢ãƒ—ãƒªã€CMSã€ã‚³ãƒ¼ãƒãƒ¬ãƒ¼ãƒˆã‚µã‚¤ãƒˆã€ç‰¹è¨­ã‚µã‚¤ãƒˆã®å®Ÿè£…ã‚’è»¸ã«æ´»å‹•ã‚’è¡Œã£ã¦ãŠã‚Šã¾ã™ã€‚"
      />
      <Text
        text="è¦ä»¶ã‚’æº€ãŸã™å®Ÿè£…ã¯å½“ç„¶ã¨ã—ã¦ã€ãƒ‘ãƒ•ã‚©ãƒ¼ãƒžãƒ³ã‚¹ã¨éŠã³å¿ƒã‚’ä¸¡ç«‹ã—ãŸUIã®å®Ÿè£…ã‚’ãƒ†ãƒ¼ãƒžã«ã€ã‚ˆã‚Šè‰¯ã„ãƒ¢ãƒŽã¥ãã‚Šã‚’ç›®æŒ‡ã—ã¦ã„ã¾ã™ã€‚"
      />
    </Section>
    <Section gap="md">
      <p>
        Experiences html pug ejs handlebars css scss stylus JavaScript Vanilla
        JQuery Vue original ã€€ nuxt.js React original next.js React Native php
        laravel CMS wordpress micro cms drupal NoCode STUDIOS
      </p>
    </Section>
  </Fragment>

  <Works />
</Layout>

<Splash />

<style></style>
