---
// import Information from "@/components/Information.astro";
---

<div>
  <!-- <Information title="Experiences" />

  <ul class="lists">
    <li class="list">html</li>
    <li>css</li>

    <li>
      JavaScript
      <ul>
        <li>Vue</li>
        <li>React</li>
      </ul>
    </li>

    <li>
      php
      <ul>
        <li>laravel</li>
      </ul>
    </li>

    <li>
      CMS
      <ul>
        <li>wordpress</li>
        <li>microCMS</li>
        <li>drupal</li>
        <li>aem</li>
      </ul>
    </li>

    <li>
      No Code
      <ul>
        <li>Studio</li>
      </ul>
    </li>
  </ul> -->
</div>

<style lang="scss">
  .lists {
    list-style-type: disc;
  }
</style>
