---
import Information from "./Information.astro";
---

<div class="header">
  <Information
    title="Toru Yaginuma âœŒðŸ»"
    subTitle="Portfolio"
    isPrimaryColor
    isTitle
  />
  <a href="/">works</a>
  <a href="/about">about</a>
</div>

<style lang="scss">
  .header {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }
</style>
