---
export interface Props {
  title: string;
  description: string;
  hasSpace?: boolean;
}

const { title, description, hasSpace } = Astro.props;
---

<div class={hasSpace ? "info info--has-space" : "info"}>
  <h2 class="info__title f-roboto">{title}</h2>
  <p class="info__description f-roboto">{description}</p>
</div>

<style lang="scss">
  .info {
    &__title {
      font-size: 1rem;
      font-weight: 700;
    }

    &__description {
      font-size: 1rem;
      font-weight: 400;
    }

    &--has-space {
      padding: 18px 18px;
    }
  }
</style>
