---
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<div class="info">
  <h2 class="info__title">{title}</h2>
  <p class="info__description">{description}</p>
</div>

<style>
  .info {
    &__title {
      font-size: 1rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    &__description {
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: 1rem;
    }
  }
</style>
