---
import TextLink from "@/components/TextLink.astro";
export interface Props {
  current: "ja" | "en";
}

const { current } = Astro.props;
---

<div class="language">
  <TextLink href="/en" isCurrent={current === "en"}>EN</TextLink>

  |
  <TextLink href="/" isCurrent={current === "ja"}>JA</TextLink>
</div>

<style lang="scss">
  .language {
    color: $color-primary;

    font-size: map-get($font-size, md);
    font-weight: map-get($font-weight, regular);

    &__anchor {
      @include strike-out-line;

      &:hover {
        &::after {
          width: 100%;
        }
      }

      &--current {
        pointer-events: none;

        &::after {
          width: 100%;
        }
      }
    }
  }
</style>
