---
export interface Props {
  current: "ja" | "en";
}

const { current } = Astro.props;
---

<div class="language f-roboto">
  <a
    class:list={[
      "language__anchor",
      { "language__anchor--current": current === "en" },
    ]}
    href="/en">EN</a
  >
  /
  <a
    class:list={[
      "language__anchor",
      { "language__anchor--current": current === "ja" },
    ]}
    href="/">JA</a
  >
</div>

<style lang="scss">
  .language {
    color: $color-primary;

    font-size: map-get($font-size, md);
    font-weight: map-get($font-weight, regular);

    &__anchor {
      @include strike-out-line;

      &:hover {
        &::after {
          width: 100%;
        }
      }

      &--current {
        pointer-events: none;

        &::after {
          width: 100%;
        }
      }
    }
  }
</style>
