---
import Information from "@/components/Information.astro";
import TextLink from "@/components/TextLink.astro";

export interface Props {
  current: "works" | "about" | "contact";
}

const { current } = Astro.props;
---

<div class="navigation f-roboto">
  <Information title="Toru YaginumaâœŒðŸ»" subTitle="Frontend Developer" />
  <ul class="navigation__lists">
    <li>
      <TextLink href="/" isCurrent={current === "works"}>works</TextLink>
    </li>
    <li>
      <TextLink href="/about" isCurrent={current === "about"}>about</TextLink>
    </li>
    <li>
      <TextLink href="/contact" isCurrent={current === "contact"}>
        contact
      </TextLink>
    </li>
  </ul>
</div>
<style lang="scss">
  .navigation {
    display: inline-block;
    background: $color-bg;
    border: 2px solid $color-primary;
    padding: map-get($margin, 1);
    z-index: map-get($z-index, base);

    &__lists {
      margin: map-get($margin, 0.5) 0 0 0;
      font-weight: map-get($font-weight, thin);
    }

    &__anchor {
      @include strike-out-line;

      &:hover {
        &::after {
          width: 100%;
        }
      }

      &--current {
        pointer-events: none;

        &::after {
          width: 100%;
        }
      }
    }
  }
</style>
