---
import Information from "./Information.astro";

export interface Props {
  current: "works" | "about" | "contact";
}

const { current } = Astro.props;
---

<div class="navigation f-roboto">
  <Information
    title="Toru YaginumaâœŒðŸ»"
    subTitle="Frontend Developer"
    isPrimaryColor
    isTitle
  />
  <ul class="navigation__lists">
    <li>
      <a
        class:list={[
          "navigation__anchor",
          { "navigation__anchor--current": current === "works" },
        ]}
        href="/">works</a
      >
    </li>
    <li>
      <a
        class:list={[
          "navigation__anchor",
          { "navigation__anchor--current": current === "about" },
        ]}
        href="/about">about</a
      >
    </li>
    <li>
      <a
        class:list={[
          "navigation__anchor",
          { "navigation__anchor--current": current === "contact" },
        ]}
        href="/contact">contact</a
      >
    </li>
  </ul>
</div>
<style lang="scss">
  .navigation {
    display: inline-block;
    background: #fff;
    border: 2px solid $color-primary;
    padding: map-get($margin, 1);
    color: $color-primary;
    z-index: map-get($z-index, base);

    &__lists {
      margin: map-get($margin, 0.25) 0 0 0;
      font-weight: 300;
    }

    &__anchor {
      @include strike-out-line;

      &:hover {
        &::after {
          width: 100%;
        }
      }

      &--current {
        pointer-events: none;

        &::after {
          width: 100%;
        }
      }
    }
  }
</style>
