---
import CircleImage from "@components/CircleImage.astro";
import Information from "@components/Information.astro";
---

<div class="profile">
  <CircleImage
    src="https://automaton-media.com/wp-content/uploads/2022/05/20220521-203445-001.jpg"
    alt="me"
  />
  <Information
    title="Toru Yaginuma âœŒðŸ»"
    description="Front-end Developer"
    hasSpace={true}
  />
</div>

<style lang="scss">
  .profile {
    display: flex;
  }
</style>
