---
import IconExternal from "@/components/IconExternal.astro";
export interface Props {
  href?: string;
  isBlock?: boolean;
  isCurrent?: boolean;
}

const { href, isBlock, isCurrent } = Astro.props;
const isExternal = href?.indexOf("http") !== -1;
---

<a
  class:list={[
    "text-link f-roboto",
    { "text-link--block": isBlock },
    { "text-link--current": isCurrent },
  ]}
  href={href}
  target={isExternal ? "_blank" : undefined}
>
  <span class="text-link__content"><slot /></span>

  {
    isExternal && (
      <span class="text-link__icon">
        <IconExternal />
      </span>
    )
  }
</a>

<style lang="scss">
  .text-link {
    color: $color-primary;
    font-weight: map-get($font-weight, thin);

    &:hover {
      .text-link {
        &__content {
          &::after {
            width: 100%;
          }
        }
      }
    }

    &__content {
      @include strike-out-line;
    }

    &__icon {
      position: relative;
      top: -2px;
      left: -2px;
      display: inline-block;
      width: 0.6em;
      height: 0.6em;
    }

    &--block {
      display: block;
    }
    &--current {
      pointer-events: none;

      .text-link {
        &__content {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
</style>
