---
export interface Props {
  size: "xxs" | "xs" | "sm" | "md" | "lg" | "xl" | "xxl";
  margin?: 0.5 | 1 | 1.5 | 2;
  isBold?: boolean;
}

const { size, margin, isBold } = Astro.props;
---

<p
  class:list={[
    "text",
    { "text--xs": size === "xs" },
    { "text--sm": size === "sm" },
    { "text--md": size === "md" },
    { "text--lg": size === "lg" },
    { "text--xl": size === "xl" },
    { "text--xxl": size === "xxl" },
    { "text--margin-half": margin === 0.5 },
    { "text--margin-full": margin === 1 },
    { "text--margin-full-lg": margin === 1.5 },
    { "text--margin-double": margin === 2 },
    { "text--bold": isBold },
  ]}
>
  <slot />
</p>

<style lang="scss">
  .text {
    color: $color-font;

    &--xxs {
      font-size: map-get($font-size, xxs);
    }

    &--xs {
      font-size: map-get($font-size, xs);
    }

    &--sm {
      font-size: map-get($font-size, sm);
    }

    &--md {
      font-size: map-get($font-size, md);
    }

    &--lg {
      font-size: map-get($font-size, lg);
    }

    &--xl {
      font-size: map-get($font-size, xl);
    }

    &--xxl {
      font-size: map-get($font-size, xxl);
    }

    &--margin-half {
      margin-top: map-get($margin, 0.5);
    }

    &--margin-full {
      margin-top: map-get($margin, 1);
    }

    &--margin-full-half {
      margin-top: map-get($margin, 1.5);
    }

    &--margin-double {
      margin-top: map-get($margin, 2);
    }

    &--bold {
      font-weight: map-get($font-weight, bold);
    }
  }
</style>
