---
import { Astro } from "astro";
import TyTextLink from "@/components/TyTextLink.astro";
export interface Props {
  lang: "ja" | "en";
}

const { lang } = Astro.props;

const currentPath = Astro.url.pathname;

// get href depends on the current page.
const getHref = (isJa?: boolean) => {
  const href = currentPath.includes("/ja")
    ? currentPath.replace("/ja", "")
    : currentPath;
  const prefix = isJa ? "/ja" : "";
  return `${prefix}${href ? href : "/"}`;
};
---

<div class="ty-language">
  <TyTextLink href={getHref()} isCurrent={lang === "en"}>EN</TyTextLink>
  |
  <TyTextLink href={getHref(true)} isCurrent={lang === "ja"}>JA</TyTextLink>
</div>

<style lang="scss">
  .ty-language {
    color: $color-primary;

    font-size: map-get($font-size, md);
    font-weight: map-get($font-weight, regular);

    &__anchor {
      @include strike-out-line;

      &:hover {
        &::after {
          width: 100%;
        }
      }

      &--current {
        pointer-events: none;

        &::after {
          width: 100%;
        }
      }
    }
  }
</style>
