---
import TyTextLink from "@/components/TyTextLink.astro";
export interface Props {
  current: "ja" | "en";
}

const { current } = Astro.props;
---

<div class="ty-language">
  <TyTextLink href="/en" isCurrent={current === "en"}>EN</TyTextLink>
  |
  <TyTextLink href="/" isCurrent={current === "ja"}>JA</TyTextLink>
</div>

<style lang="scss">
  .ty-language {
    color: $color-primary;

    font-size: map-get($font-size, md);
    font-weight: map-get($font-weight, regular);

    &__anchor {
      @include strike-out-line;

      &:hover {
        &::after {
          width: 100%;
        }
      }

      &--current {
        pointer-events: none;

        &::after {
          width: 100%;
        }
      }
    }
  }
</style>
