---
import TyInformation from "@/components/TyInformation.astro";
import TyTextLink from "@/components/TyTextLink.astro";

export interface Props {
  current: "works" | "top" | "contact";
  lang?: "ja" | "en";
}

const { current, lang } = Astro.props;
---

<div class="ty-navigation f-roboto">
  <TyInformation title="Toru Yaginuma" subTitle="Potfolio Site" />
  <ul class="ty-navigation__lists">
    <li>
      <TyTextLink
        href={lang === "en" ? "/" : "/ja"}
        isCurrent={current === "top"}>top</TyTextLink
      >
    </li>
    <li>
      <TyTextLink
        href={lang === "en" ? "/works" : "/ja/works"}
        isCurrent={current === "works"}>works</TyTextLink
      >
    </li>
    <li>
      <TyTextLink
        href={lang === "en" ? "/contact" : "/ja/contact"}
        isCurrent={current === "contact"}
      >
        contact
      </TyTextLink>
    </li>
  </ul>
</div>
<style lang="scss">
  .ty-navigation {
    display: inline-block;
    background: $color-bg;
    border: 2px solid $color-primary;
    padding: map-get($margin, 1);
    z-index: map-get($z-index, base);

    &__lists {
      margin: map-get($margin, 0.5) 0 0 0;
      font-weight: map-get($font-weight, thin);
    }

    &__anchor {
      @include strike-out-line;

      &:hover {
        &::after {
          width: 100%;
        }
      }

      &--current {
        pointer-events: none;

        &::after {
          width: 100%;
        }
      }
    }
  }
</style>
