---
import Heading from "@/components/Heading.astro";
export interface Props {
  heading: string;
  isMaxWidth?: boolean;
}

const { heading, isMaxWidth } = Astro.props;
---

<section class:list={["section", { "section--max-width": isMaxWidth }]}>
  <Heading type="section" text={heading} />
  <div class="section__content">
    <slot />
  </div>
</section>

<style lang="scss">
  .section {
    &--max-width {
      max-width: 1280px;
    }

    &__content {
      margin-top: map-get($margin, 1);

      display: flex;
      flex-direction: column;
      gap: map-get($margin, 1.5);
    }
  }
</style>
