---
import TyHeading from "@/components/TyHeading.astro";
export interface Props {
  heading: string;
  isSubBlock?: boolean;
  layout?: "stack";
}

const { heading, isSubBlock, layout } = Astro.props;
---

<div class="ty-block">
  <TyHeading type={isSubBlock ? "sub-block" : "block"} text={heading} />
  <div
    class:list={[
      "ty-block__content",
      { "ty-block__content--stack": layout === "stack" },
      { "ty-block__content--sub": isSubBlock },
    ]}
  >
    <slot />
  </div>
</div>

<style lang="scss">
  .ty-block {
    &__content {
      margin-top: map-get($margin, 0.75);
      &--stack {
        display: flex;
        flex-direction: column;
        gap: map-get($margin, 1);
      }

      &--sub {
        margin-top: map-get($margin, 0.25);
      }
    }
  }
</style>
