---
import TyHead from "@/components/TyHead.astro";
import TyHeading from "@/components/TyHeading.astro";
import TyLanguage from "@/components/TyLanguage.astro";
import TyNavigation from "@/components/TyNavigation.astro";
import TyDiv from "./TyDiv.astro";

export interface Props {
  title: string;
  currentPage: "works" | "top" | "contact";
  headingPage?: string;
  lang?: "ja" | "en";
}

const { title, currentPage, headingPage, lang } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <TyHead
    title={`${title ? title + " |" : ""} Toru Yaginuma Portfolio Site`}
  />
  <body>
    <div class="ty-layout">
      <header class="ty-layout__header">
        <TyNavigation current={currentPage} lang={lang} />
        <TyLanguage lang={lang} />
        <TyHeading text={`${headingPage}`} type="page" />
      </header>

      <main class="ty-layout__main"><slot /></main>
    </div>
    <style lang="scss" is:global>
      html {
        font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic",
          system-ui, sans-serif;
        font-size: $font-size-base;
        font-weight: map-get($font-weight, regular);
        background-color: $color-bg;
        color: $color-font;
        line-height: map-get($leading, normal);
        font-feature-settings: "palt";
        letter-spacing: 0.05em;
        min-height: 100vh;
        min-width: $min-width;

        &::selection {
          background-color: #000;
          color: #fff;
        }
      }

      body {
        margin: 0;
      }

      * {
        box-sizing: border-box;
      }

      img {
        width: 100%;
      }

      h1,
      h2,
      h3,
      h4,
      p {
        margin: 0;
      }

      ol,
      ul {
        list-style-type: none;
        padding: 0;
      }

      a {
        color: inherit;
        text-decoration: inherit; /* no underline */
      }

      .f-roboto {
        font-family: "Roboto Mono", monospace;
      }

      .ty-layout {
        width: 100%;
        padding: map-get($margin, 1);

        &__header {
          display: flex;
          justify-content: space-between;
          position: sticky;
          top: 1rem;
          z-index: map-get($z-index, base);
        }
        &__main {
          margin-top: map-get($margin, 2);
        }
      }
    </style>
  </body>
</html>
